
body {
margin:0;
padding:0;
background:pink;

}

.section-1{
margin:8%;

}
.section-1 .heading-1{
    margin-top:8%;  
         
               
   }  
             
  .section-1 .heading-2 {
    margin-botton:5%;
    font-size:39px;         
             
             
}               
               
  .section1 .para-1 {
    width:60%;
    margin-left:20%;
    margin-botton:5%;
  
  
  }
  .section-1 .card-text .para-1 {
  color:rgba(0,0,0,0.59);
  
  }
  
  .p-div .btn {
  margin-bottom:15%;
  width:30%;
  padding:2% 5%;
  margin-left:70%;
  margin-top:5%;
 
  } 
  
  
  
  .section-2 {
  margin:0px;
  padding:0px;
  
  }
  
  
  .section-2 .old {
  background-image:url("fimage1.jpg");
  background-size: 100% 100%;
  background-repeat:no-repeat;
  
  
  
  
  }
  
   
  
  
  .section-2 .heading-1 {
   margin-top:20%;
   margin-bottom:4%;
   font-family:righteous;
   width:80%;
   color:whitesmoke;
  
  
  
  }

  
  .section-2 .para {
  
   margin-bottom:7%;
   font-family:ubuntu;
   width:80%;
   color:whitesmoke;
  
  
  }
  .section-2 .btn {
  margin-bottom:15%;
  width:30%;
  padding:2% 5%;
     } 
     
     
 .ourteam {
 
 margin:0px;
 padding:0px;
 
 }
 
 
 .ourteam{
 background-image:url("https://lh3.googleusercontent.com/mIo76hht9T2VlI-OJGolHb1x4Sy8gIhVukNZV9VsF87leNUTBvumUDJgrhXeGJmCeFdH-q8vnUHe59Qzavp5zrqEKmenwgEStaKPZzW7FWth--awZLrsbJVXISOQhd32_m7jI2konQ=w600-h315-p-k");
 background-size: 100% 100%;
 background-repeat:no-repeat;

 
 
 
 }
 
 
 
 .section-4 {
margin:0px;
 
 }
 
   .section-4 .row .col-md-7,.col-md-5 {
  margin-top:10%;
  margin-bottom:10%;
  
   }
  
 .section-4 a {
 color:lightseagreen;
 font-size:40px;
 text-decoration:none;
 
 
 }
 
 .section-4 .para-1 {
   
   color:black;
   font-size:23px;
   margin-top:7%;
   font-family:Roboto Condensed;
 
 
 }
 
 
 .section-3 {
  background-image:url("https://lh3.googleusercontent.com/bWzTPK0hSypPHD1Hc1GSjZVdpvOteOTH8uLnH1_VlJWkr4F5bfMT6vy6dUAYcn_iwR4fYL9vj_sJ9B_Rf_zOk0FUDSRGxpywjVJnu8IYkh2hS-v_Yv9qMoLnTv6hpsXVtdi5B0RqLw=w600-h315-p-k");
  background-size: 100% 100%;
  background-repeat:no-repeat;
  
  
  
  
  }
  
  .section-3 .btn {
  margin-bottom:15%;
  width:30%;
  padding:2% 5%;
  margin-left:70%;
  margin-top:5%;
     } 
     
     
 .sec3-div {
 background:rgba(255,255,255,.2);
 box-shadow:0 5px 15px rgba(0,0,0,.5);
 
 
 
 }
 
 
 //slider
 
 
 .section-slider {
 padding: 10px 0;
 background: #fff;
 }
 .slider {
 display: flex;
 overflow-x: auto;
 scroll-behavior: smooth;
 
 -webkit-overflow-scrolling: touch;
 scroll-snap-points-x: repeat(300px);
 scroll-snap-type: mandatory;
 }
 .slider .img-slider {
 flex-shrink: 0;
 width: 300px;
 margin-right: 20px;
 padding-top:20px;
 padding-bottom: 10px;
 display: block;
 height:400px;
 }
 .slider::-webkit-scrollbar {
 width: 10px;
 height: 10px;
 }
 .slider::-webkit-scrollbar-thumb {
 background: #808080;
 border-radius: 10px;
 visibility: hidden;
 }
 .slider::-webkit-scrollbar-track {
 background: transparent;
 }
 .section-slider:hover .slider::-webkit-scrollbar-thumb {
 visibility: visible;
 }
 
 
 
//product details ces
 .newarrival {
 background:green;
 font-size:12px;
 font-weight:bold;
 width:50px;
 color:white;
 
 
 }
 
 .col-md-7 h2 {
 color:#555;
 
 
 }
 .price  {
 color:#FE980F;
 padding-top:20px;
 font-size:26px;
 font-weight:bold;
 
 
 }
 
 .cart {
 background:#FE980F;
 font-size: 15px;
 margin-left: 20px;
 color: #ffffff;
 
 
 }
 
 //end product details css
 
 
 
 
#home{



}


#contact{



}

#about {


}